# Arquivos do Sistema Operacional e IDEs
.DS_Store
Thumbs.db
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.DotSettings.user

# Logs
*.log

# --- REGRAS DO BACKEND (.NET) ---
[Bb]in/
[Oo]bj/
appsettings.Development.json
secrets.json
*.Secret.json

# --- REGRAS DO FRONTEND (Node.js / React) ---
node_modules/
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local